#floating-button{
    width: 25px;
    height: 155px;
    position: fixed;
    border: 0;
    bottom: 7%;
    right: 10px;
  }
  
#floating-button a{
    font-size: 2em;
    margin-top: 10px;
  }

@media (max-width: 591px) {
    #floating-button{
    width: 20px;
    height: 105px;
    border: 0;
    right: 0px;
  }
  
  #floating-button a{
    font-size: 1.2em;
    margin-top: 5px;
  }
}
