{% load static %}
<!DOCTYPE html>
<html lang="fr" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'img/fav.png' %}" >
	<!-- Author Meta -->
	<meta name="author" content="Maureen FAYOMI, Horace FAYOMI">
	<!-- Meta Description -->
	<meta name="description" content="Plateforme de vente et d'achat en gros. Mise en relation des grossiste et des revendeurs">
	<!-- Meta Keyword -->
	<meta name="keywords" content="vente achat gros grossiste revendeur">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<!--meta name="google-signin-client_id" content="377993004613-fh9u1v0io248481m83rf04s09bg2bd5l.apps.googleusercontent.com"-->
	<meta name="google-signin-client_id" content="598012260609-c01b10hn5vno2uovl148c0tvui714jbu.apps.googleusercontent.com">
	
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v5.0&appId=746362812456584&autoLogAppEvents=1"></script>
	<script>

  function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
    console.log('statusChangeCallback');
    console.log(response);                   // The current login status of the person.
    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
      testAPI();  
    } else {                                 // Not logged into your webpage or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this webpage.';
    }
  }


  function checkLoginState() {               // Called when a person is finished with the Login Button.
    FB.getLoginStatus(function(response) {   // See the onlogin handler
      statusChangeCallback(response);
    });
  }


  window.fbAsyncInit = function() {
	    FB.init({
	      appId            : '746362812456584',
	      autoLogAppEvents : true,
	      xfbml            : true,
	      version          : 'v5.0'
	    
	  });

    FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
      statusChangeCallback(response);        // Returns the login status.
    });
  };

  
  (function(d, s, id) {                      // Load the SDK asynchronously
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

 
  function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
    });
  }

</script>
	<title>ikoobiz | Vente & Achat en gros. Grossistes et Revendeurs, votre place est ici!</title>  

	<!--
            CSS
            ============================================= -->
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}" >
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" >
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" >
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" >
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}" >
	<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}" >
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
	<link rel="stylesheet" href="{% static 'css/main.css' %}" >
	<link rel="stylesheet" href="{% static 'css/float.css' %}" >
	<style type="text/css">
		.invisible{
        display: none;
        visibility: invisible;
        transition : all 2.5s;
      }
	</style>
	
</head>



<body id="category">

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/" ><img style="height: 25px" src="{% static 'img/logo.png' %}"  alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="/" > <i class="fa fa-home"></i>Accueil</a></li>
						
							<li class="nav-item submenu dropdown">
								<a href="#" data-toggle="modal" data-target="#loginModal" id="userAccount"  class="nav-link"  role="button" aria-haspopup="true"
								 aria-expanded="false"><i class="fa fa-user"></i>  
								 {% if auth %}
							        {{ user.name}}
							     {% else %}
								 Mon compte
								 {% endif %}
								</a>
								{% if auth %}
							    <ul class="dropdown-menu">
							    	<li class="nav-item"><a class="nav-link" href="#" id="profile" > <i class="fa fa-wrench"></i> Mon profile </a></li>
									<li class="nav-item"><a class="nav-link" href="#" id="logout" > <i class="fa fa-sign-out"></i> Déconnexion </a></li>
								</ul>
								 {% endif %}
								
							</li>
							<!--li class="nav-item" >
								<select style="border: 0px" >
									{% for country in countries%}
									<option value="{{country.name}}" >  <img style="max-height: 10px" class="" src="/media/{{country.drapeau}}" alt=""></option>
									{% endfor %}
								</select>
							</li-->
							<li class="nav-item">
								<a class="nav-link" style="font-size: 1.5em" href="https://api.whatsapp.com/send?phone={{admin.phone1}}" ><i class="fa fa-whatsapp"></i></a> 
							</li>
							<li  class="nav-item">
								<a class="nav-link" style="font-size: 1.5em" href="{{admin.facebook_link}}" ><i class="fa fa-facebook"></i></a>
							</li>
							<li  class="nav-item">
								<a class="nav-link" style="font-size: 1.5em" href="{{admin.instagram_link}}" ><i class="fa fa-instagram"></i></a> &nbsp 
							</li>
							<li  class="nav-item">
								<a class="nav-link" style="font-size: 1.5em" href="{{admin.twitter_link}}" ><i class="fa fa-twitter"></i></a> &nbsp 
							</li>
							<!--li class="nav-item" >
								<a class="nav-link"  href="#search_ref" >  <i class="fa fa-search" style="font-size: 1.5em"></i> </a> 
							</li-->
							<li class="nav-item" style="margin-top: 5px" ><img style="max-height: 30px" class="" src="/media/flags/benin.jpeg" alt="">
								</li>
							
						</ul>
						<!--ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="{% static '#' %}"  class="cart"><span class="ti-bag"></span></a></li>
							<li class="nav-item">
								<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
							</li>
						</ul-->
					</div>
				</div>
			</nav>
		</div>
		<!--div class="search_input" id="search_input_box" style="display: block;">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Recherchez un grossiste, un revendeur dans votre région et faites de bonnes">
					<button type="submit" class="btn"></button>
					
				</form>
			</div>
		</div-->
	</header>

	{% block content %}{% endblock %}

	<!-- start footer Area -->
	<footer class="footer-area section_gap" style=" padding:25px">
		<div class="container">
			<div class="row">
				<div class="col-lg-6  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>A propos de nous</h6>
						<p>
							Nous formons un grand marché et un grand réseaux de grossistes et de revendeurs. 
						</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Suivez nous </h6>
						<p>sur les réseaux sociaux et ne ratez rien des nouveautés et des bonnes affaires</p>
						<div class="footer-social d-flex align-items-center">
							<a href="https://api.whatsapp.com/send?phone={{admin.phone1}}" ><i class="fa fa-whatsapp"></i></a>
							<a href="{{admin.facebook_link}}" ><i class="fa fa-instagram"></i></a>
							<a href="{{admin.instagram_link}}" ><i class="fa fa-facebook"></i></a>
							<a href="{{admin.youtube_link}}" ><i class="fa fa-youtube"></i></a>
							<a href="{{admin.twitter_link}}" ><i class="fa fa-twitter"></i></a>
						</div>
						<div class="g-signin2"  data-onsuccess="onSignIn" style="display: none" ></div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap" >
				<p class="footer-text m-0" style=" margin: 0; padding-top: 40px"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  | Website  made by Horace FAYOMI and template with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="{% static 'https://colorlib.com' %}"  target="_blank">Colorlib</a> 
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<!-- Modal Quick Product View -->
	<script type="text/javascript">
		function removeEnter(string){
			sp = string.split('\n')
			result = ""
			for(i=0; i< sp.length; i++){
				result+= sp[i]
			}
			return result;
		}
		function removeSpace(string){
			string = removeEnter(string)
			sp = string.split(' ')
			result = ""
			for(i=0; i< sp.length; i++){
				result+= sp[i]
			}
			return result;
		}
	</script>
	<script type="text/javascript">
		$(function(){
			$('.carousel').carousel({
			  interval: 2000
			})
			$('.sidebar-categories, .sidebar-filter').css('border','1px solid #828bb3')
			$('#grossistes, #revendeurs, #articles').css('display','none').css('visibility','invisible')
			//$('.img-fluid').css('height','200px')
			$('#mainSlider img').css('max-height','250px').css('min-height','150px')

			$('#search_revendeur').bind('focus change input', function(){
				$('#pub, #grossistes, #articles').css('display','none').css('visibility','invisible')
				$('#revendeurs').css('display','block').css('visibility','visible')
				$('#revendeurs .element').each(function(current_input){
					$(this).css('display','block').css('visibility','visible')
				})

				if( $(this).val() == '' ){
					$('#grossistes, #revendeurs, #articles').css('display','none').css('visibility','invisible')
					$('#pub').css('display','block').css('visibility','visible')
				}
				else{
						$('#revendeurs .element').each(function(current_input){
							var current_input = $('#search_revendeur').val()
							var text = removeSpace( $(this).text() ) 
							text = text.toLocaleLowerCase()
							var sp = text.split( current_input )
							if (  sp.length <2 ){
								$(this).css('display','none').css('visibility','invisible')
							}
						})
				}
			})
			$('#search_grossiste').bind('focus change input', function(){

				$('#pub, #revendeurs, #articles').css('display','none').css('visibility','invisible')
				$('#grossistes').css('display','block').css('visibility','visible')
				$('#grossistes .element').each(function(current_input){
					$(this).css('display','block').css('visibility','visible')
				})

				if( $(this).val() == '' ){
					$('#grossistes, #revendeurs, #articles').css('display','none').css('visibility','invisible')
					$('#pub').css('display','block').css('visibility','visible')
				}
				else{
						$('#grossistes .element').each(function(current_input){
							var current_input = $('#search_grossiste').val()
							var text = removeSpace( $(this).text() ) 
							text = text.toLocaleLowerCase()
							var sp = text.split( current_input )
							if (  sp.length <2 ){
								$(this).css('display','none').css('visibility','invisible')
							}
						})
				}
			})
			$('#search_article').bind('focus change input', function(){
				$('#pub, #grossistes, #revendeurs').css('display','none').css('visibility','invisible')
				$('#articles').css('display','block').css('visibility','visible')
				$('#articles .element').each(function(current_input){
					$(this).css('display','block').css('visibility','visible')
				})

				if( $(this).val() == '' ){
					$('#grossistes, #revendeurs, #articles').css('display','none').css('visibility','invisible')
					$('#pub').css('display','block').css('visibility','visible')
				}
				else{
						$('#articles .element').each(function(current_input){
							var current_input = $('#search_article').val()
							var text = removeSpace( $(this).text() ) 
							text = text.toLocaleLowerCase()
							var sp = text.split( current_input )
							if (  sp.length <2 ){
								$(this).css('display','none').css('visibility','invisible')
							}
						})
				}
			})
			

			$('.single-footer-widget i').css('font-size','2em')

			$('.main-nav-list a').click(function(){
				if( $(this).hasClass('collapsed') ){
					console.log('ooo')
					$(this).css('background-color','#ffba00')
				}else  $(this).css('background-color','white')
			})
			$('.single-product').css('box-shadow','0px 4px 5px 0px rgba(0, 0, 0, 0.2)').css('transition','all 0.2s').css('border-radius','5px').css('border','1px solid #828bb3')

			$('.single-product').bind('mouseenter',function(){
				$(this).css('box-shadow','0px 7px 8px 0px #828bb3')
			}).bind('mouseleave',function(){
				$(this).css('box-shadow','0px 4px 5px 0px rgba(0, 0, 0, 0.2)')
			}) 
			
			$('.product-details').each(function(){
				var d = $(this).find('h6').last().text()
				//console.log( d )
				$(this).find('h6').last().text( d.substring(0,25)+ '...' )
				
			}) 
			$('#logout').click(function(e){
				//e.prevent.default()
				signOut()
			})
			
			
			//$('.logo_h img').css('height','20px')
		})
	</script>

	<script>

	  function signOut() {
	    var auth2 = gapi.auth2.getAuthInstance();
	    auth2.signOut().then(function () {
	      console.log('User signed out.');
	      window.location.href = '/';
	    });
	  }
	</script>


<div id="container-floating" >
    <div id="floating-button">
    	<div class="row">
    		<a href="{{admin.facebook_link}}" ><i class="fa fa-facebook"></i></a>
    	</div>
    	<div class="row">
    		<a href="https://api.whatsapp.com/send?phone={{admin.phone1}}" ><i class="fa fa-whatsapp" style="color: green"></i></a>
    	</div>
    	<div class="row">
    		<a href="{{admin.instagram_link}}" ><i class="fa fa-instagram" style="color: #6503a8"></i></a>
    	</div>
    	<div class="row">
    		<a href="{{admin.twitter_link}}" ><i class="fa fa-twitter"></i></a>
    	</div>
    	<div class="row">
    		<a href="#category"  style="color: #222"><i class="fa fa-arrow-up"></i></a>
    	</div>
    </div>
</div>


	
</body>

</html>

	
