{% extends "base.html" %}
{% block content %}
{% load static %}

	<!-- Start Banner Area -->
	<section  id="search_ref" class="banner-area organic-breadcrumb">
		
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">Catégories</div>
					<ul class="main-categories">
						{% for big_category in big_categories %}
						<li class="main-nav-list"><a class="border-bottom-0" data-toggle="collapse" href="#{{big_category.fields.name}}"  aria-expanded="false"
							 aria-controls="{{big_category.fields.name}}"><span class="lnr lnr-arrow-right"></span>{{big_category.fields.name}} <span class="number"></span></a>
							 
							<ul class="collapse" id="{{big_category.fields.name}}" data-toggle="collapse" aria-expanded="false" aria-controls="{{big_category.fields.name}}">
								{% for category in big_category.fields.categories %}
								<li class="main-nav-list child"><a href="/search/category/all/{{category.fields.name }}" >{{category.fields.name }} <span class="number"></span></a></li>
								{% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head">Filtrer par </div>
					<div class="common-filter">
						<div class="head">Ville</div>
						<form action="#">
							<ul>
								{% for city in cities %}
								<li class="filter-list">
									<a  href="/search/city/all/{{city.name}}" >
									<input class="pixel-radio" type="radio" id="apple" name="brand"><label for="{{city.name}} " style="color: #000;">{{city.name}}<span></span></label>
									</a>
								</li>
								{% endfor %}
							</ul>
						</form>
					</div>
				
					<div class="common-filter">
						<div class="head">Prix</div>
						<div class="price-range-area">
							<div id="price-range"></div>
							<div class="value-wrapper d-flex">
								<div class="price">Prix:</div>
								<span>FCFA</span>
								<div id="lower-value"></div>
								<div class="to"> à </div>
								<span>FCFA</span>
								<div id="upper-value"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div  class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div  class="filter-bar d-flex flex-wrap align-items-center justify-content-between" style="padding-top:1% ">
					{% if auth %}
					<div>
						<a href="#" data-toggle="modal" id="{{user.pk}}" data-target="#articleModal" style="color: #000; font-size: 1em" class="genric-btn  openAddModal  primary radius"><i class="fa fa-plus"></i>&nbsp Ajouter un article</a>
						
					</div>
					{% endif %}
					<div>
						<form class="d-flex justify-content-between">
							<input type="text" class="form-control" id="search_article" placeholder="Cherchez un article">
						</form>
					</div>
					<div>
						<form class="d-flex justify-content-between">
							<input type="text" class="form-control" id="search_revendeur" placeholder="Cherchez un revendeur">
						</form>
					</div>
					<!--div>
						<span style="color: white; font-weight: bold; font-size: 1.4em " class="lnr lnr-magnifier" id="search"></span>
					</div-->
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="owl-carousel active-product-area section_gap"  id="pub">
					<!-- single product slide -->
					<div class="single-product-slider">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-6 text-center">
									<div class="section-title">
										<h1>Articles</h1>
									</div>
								</div>
							</div>
							<div class="row">
								{% if auth %}
							    {% for article in articles %}
								<div class="col-lg-4 col-md-6">
									<div class="single-product">
										<a href="/article/{{article.pk}}/{{token}}">
										<img class="img-fluid" src="/media/{{article.image}}"  alt="">
										<div class="product-details">
											<h6 >{{article.name}}</h6>
											<h6 style="font-size: .8em; font-weight: normal; ">Prix: {{article.stock_price }} FCFA/stock de {{article.stock_size }}</h6>
											<h6 style="font-size: .8em; font-weight: normal; ">stock disponible: {{article.stock }}</h6>
											<h6 style="font-size: .7em; font-weight: normal; ">{{article.description }}</h6>
											
											<div class="prd-bottom">
												<!--a href="/article/{{article.pk}}/{{token}}"  class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">Détails</p>
												</a-->
												<a href="https://api.whatsapp.com/send?phone={{article.grossiste.phone1}}"  class="social-info">
													<span class=""><i class="fa fa-whatsapp"></i></span>
													<p class="hover-text">whatsapp grossite</p>
												</a>
												<a href="{{article.grossiste.facebook_link}}"  class="social-info">
													<span class=""><i class="fa fa-facebook"></i></span>
													<p class="hover-text">facebook grossite</p>
												</a>
												<a href="{{article.grossiste.instagram_link}}"  class="social-info">
													<span class=""><i class="fa fa-instagram"></i></span>
													<p class="hover-text">Instagram grossite</p>
												</a>
											</div>
										</div>
										</a>
									</div>
								</div>
								{% endfor %}
							    {% else %}
								{% for article in articles %}
								<div class="col-lg-4 col-md-6">
									<div class="single-product">
										<a href="/article/{{article.pk}}/a">
										<img class="img-fluid" src="/media/{{article.image}}"  alt="">
										<div class="product-details">
											<h6 >{{article.name}}</h6>
											<div class="price">
												<h6 style="font-size: .8em; font-weight: normal; ">{{article.description }}</h6>
											</div>
											<div class="prd-bottom">
												<!--a href="accounts/grossiste/{{article.grossiste.name}}/a"  class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">Détails</p>
												</a-->
												<a href="https://api.whatsapp.com/send?phone={{article.grossiste.phone1}}"  class="social-info">
													<span class=""><i class="fa fa-whatsapp"></i></span>
													<p class="hover-text">whatsapp grossite</p>
												</a>
												<a href="{{article.grossiste.facebook_link}}"  class="social-info">
													<span class=""><i class="fa fa-facebook"></i></span>
													<p class="hover-text">facebook grossite</p>
												</a>
												<a href="{{article.grossiste.instagram_link}}"  class="social-info">
													<span class=""><i class="fa fa-instagram"></i></span>
													<p class="hover-text">Instagram grossite</p>
												</a>
											</div>
										</div>
										</a>
									</div>
								</div>
								{% endfor %}
								{% endif %}
								
							</div>
						</div>
					</div>
					<!-- single product slide -->
					
					<div class="single-product-slider">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-6 text-center">
									<div class="section-title">
										<h1>Revendeurs</h1>
									</div>
								</div>
							</div>
							<div class="row">
								{% for revendeur in revendeurs_pub %}
								<div class="col-lg-4 col-md-6">
									<div class="single-product">
										<a href="accounts/revendeur/{{revendeur.name}}/a">
										<img class="img-fluid" src="/media/{{revendeur.avatar}}"  alt="">
										<div class="product-details">
											<h6 >{{revendeur.name}}</h6>
											<div class="price">
												<h6 style="font-size: .8em; font-weight: normal; ">{{revendeur.description }}</h6>
											</div>
											<div class="prd-bottom">
												<!--a href="accounts/grossiste/{{revendeur.name}}/a"  class="social-info">
													<span class=""><i class="fa fa-home"></i></span>
													<p class="hover-text">Page</p>
												</a-->
												<a href="https://api.whatsapp.com/send?phone={{revendeur.phone1}}"  class="social-info">
													<span class=""><i class="fa fa-whatsapp"></i></span>
													<p class="hover-text">whatsapp</p>
												</a>
												<a href="{{revendeur.facebook_link}}"  class="social-info">
													<span class=""><i class="fa fa-facebook"></i></span>
													<p class="hover-text">facebook</p>
												</a>
												<a href="{{revendeur.instagram_link}}"  class="social-info">
													<span class=""><i class="fa fa-instagram"></i></span>
													<p class="hover-text">Instagram</p>
												</a>
											</div>
										</div>
										</a>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</section>
				
				<section id="revendeurs" class="lattest-product-area pb-40 category-list  ">
					<div class="row">
						<!-- single product -->
						{% for revendeur in revendeurs %}
						<div class="col-lg-4 col-md-6 element">
							<div class="single-product">
								<a href="accounts/revendeur/{{revendeur.name}}/a">
								<img class="img-fluid" src="/media/{{revendeur.avatar}}"  alt="">
								<div class="product-details">
									<h6 >{{revendeur.name}}</h6>
									<div class="price">
										<h6 style="font-size: .8em; font-weight: normal; ">{{revendeur.description }}</h6>
									</div>
									<div class="prd-bottom">
										<!--a href="accounts/revendeur/{{revendeur.name}}/a"  class="social-info">
											<span class=""><i class="fa fa-home"></i></span>
											<p class="hover-text">Page</p>
										</a-->
										<a href="https://api.whatsapp.com/send?phone={{revendeur.phone1}}"  class="social-info">
											<span class=""><i class="fa fa-whatsapp"></i></span>
											<p class="hover-text">whatsapp</p>
										</a>
										<a href="{{revendeur.facebook_link}}"  class="social-info">
											<span class=""><i class="fa fa-facebook"></i></span>
											<p class="hover-text">facebook</p>
										</a>
										<a href="{{revendeur.instagram_link}}"  class="social-info">
											<span class=""><i class="fa fa-instagram"></i></span>
											<p class="hover-text">Instagram</p>
										</a>
									</div>
								</div>
								</a>
							</div>
						</div>
						{% endfor %}
						<!-- single product -->
					</div>
				</section>
				<section id="articles" class="lattest-product-area pb-40 category-list ">
					<div class="row">
						<!-- single product -->
						{% if auth %}
							    {% for article in articles %}
								<div class="col-lg-4 col-md-6">
									<div class="single-product">
										<a href="/article/{{article.pk}}/{{token}}">
										<img class="img-fluid" src="/media/{{article.image}}"  alt="">
										<div class="product-details">
											<h6 >{{article.name}}</h6>
											<h6 style="font-size: .8em; font-weight: normal; ">{{article.description }}</h6>
											
											<div class="prd-bottom">
												<!--a href="/article/{{article.pk}}/{{token}}"  class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">Détails</p>
												</a-->
												<a href="https://api.whatsapp.com/send?phone={{article.grossiste.phone1}}"  class="social-info">
													<span class=""><i class="fa fa-whatsapp"></i></span>
													<p class="hover-text">whatsapp grossite</p>
												</a>
												<a href="{{article.grossiste.facebook_link}}"  class="social-info">
													<span class=""><i class="fa fa-facebook"></i></span>
													<p class="hover-text">facebook grossite</p>
												</a>
												<a href="{{article.grossiste.instagram_link}}"  class="social-info">
													<span class=""><i class="fa fa-instagram"></i></span>
													<p class="hover-text">Instagram grossite</p>
												</a>
											</div>
										</div>
										</a>
									</div>
								</div>
								{% endfor %}
							    {% else %}
								{% for article in articles %}
								<div class="col-lg-4 col-md-6 element">
									<div class="single-product">
										<a href="/article/{{article.pk}}/a">
										<img class="img-fluid" src="/media/{{article.image}}"  alt="">
										<div class="product-details">
											<h6 >{{article.name}}</h6>
											<h6 style="font-size: .8em; font-weight: normal; ">Prix: {{article.stock_price }} FCFA/stock de {{article.stock_size }}</h6>
											<h6 style="font-size: .8em; font-weight: normal; ">stock disponible: {{article.stock }}</h6>
											<h6 style="font-size: .7em; font-weight: normal; ">{{article.description }}</h6>
											
											<div class="prd-bottom">
												<!--a href="accounts/grossiste/{{article.grossiste.name}}/a"  class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">Détails</p>
												</a-->
												<a href="https://api.whatsapp.com/send?phone={{article.grossiste.phone1}}"  class="social-info">
													<span class=""><i class="fa fa-whatsapp"></i></span>
													<p class="hover-text">whatsapp grossite</p>
												</a>
												<a href="{{article.grossiste.facebook_link}}"  class="social-info">
													<span class=""><i class="fa fa-facebook"></i></span>
													<p class="hover-text">facebook grossite</p>
												</a>
												<a href="{{article.grossiste.instagram_link}}"  class="social-info">
													<span class=""><i class="fa fa-instagram"></i></span>
													<p class="hover-text">Instagram grossite</p>
												</a>
											</div>
										</div>
										</a>
									</div>
								</div>
								{% endfor %}
								{% endif %}
						<!-- single product -->
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<!--div class="filter-bar d-flex flex-wrap align-items-end" style="margin-bottom: 70px">
					<div class="sorting mr-auto">
						<div class="pagination">
							<a href="{% static '#' %}"  class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						</div>
					</div>

					<div class="pagination">
						<a href="{% static '#' %}"  class="active" style="width: 100px">Voir plus</a>
						<a href="{% static '#' %}"  class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div-->
			</div>
		</div>
	</div>


<div class="modal fade " id="articleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <img src="{% static 'img/logo.png' %}" style="max-height: 16px; max-width: 100px "  alt="" class="img-fluid">
          <h5 class="modal-title " id="exampleModalLabel" style="color: #575d79">&nbsp|&nbsp Ajout d'un article</h5>  
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" style="padding-left: 10%; padding-right: 10%; padding-bottom: 5%;">
        <form id="articleForm" action="/article/0/{{token}}" method="POST"  >

		            {% csrf_token %}

		            {{ articleForm.as_p }}
		    <br>
			<button type="submit" style="color: #000; font-size: 1em" class="btn  btn-block  genric-btn primary" > Ajouter </button> 
		</form>
      </div>
      
    </div>
  </div>
</div>

	<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}" ></script>
	<script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js' %}"  integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}" ></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}" ></script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}" ></script>
	<script src="{% static 'js/jquery.sticky.js' %}" ></script>
	<script src="{% static 'js/nouislider.min.js' %}" ></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}" ></script>
	<script src="{% static 'js/owl.carousel.min.js' %}" ></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE" ></script>
	<script src="{% static 'js/gmaps.min.js' %}" ></script>
	<script src="{% static 'js/main.js' %}" ></script>

	
	<script type="text/javascript">
		$(function(){
			$('#logout').click(function(){
				signOut()
			})

			//$('#articleModal .register').css('display','none').css('visibility','invisible')
			//$('#articleModal #id_token').parent().css('display','none').css('visibility','invisible')
			$('#articleModal input, #articleModal select, #articleModal textarea').css('width','100%')
			//nice-select
			$('#articleModal label').wrap('<div class="d-flex flex-wrap align-items-left justify-content-left" ></div>')
			$('#articleModal p').after('<br>')
			$('#articleModal  ')
			/*
			$('#id_grossiste option').first().remove()
			$('#id_grossiste option').each(function(){
				if( $(this).val() == $('.openAddModal').attr('id') ){
					$('#id_grossiste option').last().attr('selected','true')
				} 
			})
			$('#id_grossiste').parent().css('display','none').css('visibility','invisible')
			*/

			$('#id_categorie option').first().remove()
			$('#id_categorie option').next().find('.current').text( $('#id_categorie option').last().text() )
			$('#id_categorie option').last().attr('selected','true')


			$("#articleForm").submit(function(e) {
			    e.preventDefault();
			    var formData = new FormData(this);   
			    $.ajax({
			        url: $(this).attr('action'),
			        type: 'POST',
			        data: formData,
			        success: function (data) {
			        	if( data.status == 'success'){
			        		console.log('yeah')
			        		window.location.href = window.location.href 
			        	}
			        	else{
			        		$('#articleForm .errorMessage').remove()
			            	$('#articleForm button').after('<div class="alert alert-danger errorMessage"  role="alert">'+  data.status +'!</div>')
			        	}
			        	
			        },
			        cache: false,
			        contentType: false,
			        processData: false,
			        enctype: 'multipart/form-data',
			    });
			});
		})
	</script>
	<script type="text/javascript">
		function onSignIn(googleUser) {
		  var profile = googleUser.getBasicProfile();
		  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
		  console.log('Name: ' + profile.getName());
		  console.log('Image URL: ' + profile.getImageUrl());
		  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
		  
		}

	</script>
	<script>

	  function signOut() {
	    var auth2 = gapi.auth2.getAuthInstance();
	    auth2.signOut().then(function () {
	      console.log('User signed out.');
	      window.location.href = '/';
	    });
	  }
	</script>
	
{% endblock %}


