{% extends "base.html" %}
{% block content %}
{% load static %}

	<script src="https://apis.google.com/js/platform.js" async defer></script>


	<section class="banner-area organic-breadcrumb" style=" padding-top: 20px">
		<div class="container"  id="mainContainer">
			<div class="breadcrumb-banner row">
				<div class="col-md-6">
					<div class="bd-example" id="mainSlider">
					  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
					    <ol class="carousel-indicators">
					      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
					      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
					      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
					    </ol>
					    <div class="carousel-inner">
					      <div class="carousel-item active">
					      	<a href="">
					      		<img src="/static/img/banner/banner-img.png" class="d-block w-100" alt="...">
						        <div class="carousel-caption d-none d-md-block">
						        </div>
					      	</a>
					      </div>
					      <div class="carousel-item ">
					      	<a href="">
					      		<img src="/static/img/banner/banner-img.png" class="d-block w-100" alt="...">
						        <div class="carousel-caption d-none d-md-block">
						        </div>
					      	</a>
					      </div>
					    </div>
					    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
					      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					      <span class="sr-only">Previous</span>
					    </a>
					    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
					      <span class="carousel-control-next-icon" aria-hidden="true"></span>
					      <span class="sr-only">Next</span>
					    </a>
					  </div>
					</div>
				</div>
				<div class="col-md-6" style=" padding-top: 30px">
					<h1 style="color: #222222">Grossistes, Revendeurs, votre place est ici!</h1>
					<h4 style="color: #222222"> Trouvez les bonnes choses à acheter en gros et à revendre ou trouvez des revendeurs pour facilement vendre vos produits en gros! &nbsp <a style="color: #222222" data-toggle="modal" data-target="#loginModal" href="#" class="genric-btn primary-border circle">S'inscrire</a></h4>

				</div>
			</div>
		</div>

	</section>
	<!-- End Banner Area -->
	<!-- End Banner Area -->
	<div class="container">
		<div class="row ">
			<div class="col-xl-3 col-lg-4 col-md-5" id="categoriesContainer">
				<div class="sidebar-categories">
					<div class="head">Catégories</div>
					<ul class="main-categories">
						{% for big_category in big_categories %}
						<li class="main-nav-list"><a class="border-bottom-0" data-toggle="collapse" href="#{{big_category.fields.name}}"  aria-expanded="false"
							 aria-controls="{{big_category.fields.name}}"> {{big_category.fields.name}} &nbsp<i class="fa fa-long-arrow-right"></i> <span class="number"></span></a>
							 
							<ul class="collapse" id="{{big_category.fields.name}}" data-toggle="collapse" aria-expanded="false" aria-controls="{{big_category.fields.name}}">
								{% for category in big_category.fields.categories %}
								<li class="main-nav-list child"><a href="/search/category/all/{{category.fields.name }}" >{{category.fields.name }} <span class="number"></span></a></li>
								{% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul>
				</div>
				<!--div class="sidebar-filter mt-50">
					<div class="top-filter-head">Filtrer par </div>
					<div class="common-filter">
						<div class="head">Ville</div>
						<form action="#">
							<ul>
								{% for city in cities %}
								<li class="filter-list">
									<a  href="/search/city/all/{{city.name}}" >
									<input class="pixel-radio" type="radio" id="apple" name="brand"><label for="{{city.name}} " style="color: #000;">{{city.name}}<span></span></label>
									</a>
								</li>
								{% endfor %}
							</ul>
						</form>
					</div>
				
					<div class="common-filter">
						<div class="head">Prix</div>
						<div class="price-range-area">
							<div id="price-range"></div>
							<div class="value-wrapper d-flex">
								<div class="price">Prix:</div>
								<span>CFA</span>
								<div id="lower-value"></div>
								<div class="to"> à </div>
								<span>CFA</span>
								<div id="upper-value"></div>
							</div>
						</div>
					</div>
				</div-->
			</div>
			<div  class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div  class="filter-bar d-flex flex-wrap align-items-center justify-content-between" style="padding-top:1% ">
					<div>
						<form class="d-flex justify-content-between">
							<input type="text" class="form-control" id="search_grossiste" placeholder="Cherchez grossiste">
						</form>
					</div>
					<div>
						<form class="d-flex justify-content-between">
							<input type="text" class="form-control" id="search_article" placeholder="Cherchez article">
						</form>
					</div>
					<div>
						<form class="d-flex justify-content-between">
							<input type="text" class="form-control" id="search_revendeur" placeholder="Cherchez revendeur">
						</form>
					</div>
					<!--div>
						<span style="color: white; font-weight: bold; font-size: 1.4em " class="lnr lnr-magnifier" id="search"></span>
					</div-->
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="owl-carousel active-product-area section_gap"  id="pub">
					<!-- single product slide -->
					<div class="single-product-slider">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-6 text-center">
									<div class="section-title">
										<h1>Articles</h1>
									</div>
								</div>
							</div>
							<div class="row">
								{% for article in articles_pub %}
								<div class="col-lg-4 col-md-6">
									<div class="single-product">
										<a href="/article/{{article.pk}}/a">
										<img class="img-fluid" src="/media/{{article.image}}"  alt="">
										<div class="product-details">
											<h5>{{article.name}}</h5>
											<h6>Prix: {{article.stock_price }} FCFA/stock de {{article.stock_size }}</h6>
											<h6>stock disponible: {{article.stock }}</h6>
											<h6>{{article.description }}</h6>
											<div class="prd-bottom">
												<!--a href="/article/{{article.pk}}"  class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">Détails</p>
												</a-->
												<a href="https://api.whatsapp.com/send?phone={{article.grossiste.phone1}}"  class="social-info">
													<span class=""><i class="fa fa-whatsapp"></i></span>
													<p class="hover-text">whatsapp grossite</p>
												</a>
												<a href="{{article.grossiste.facebook_link}}"  class="social-info">
													<span class=""><i class="fa fa-facebook"></i></span>
													<p class="hover-text">facebook grossite</p>
												</a>
												<a href="{{article.grossiste.instagram_link}}"  class="social-info">
													<span class=""><i class="fa fa-instagram"></i></span>
													<p class="hover-text">Instagram</p>
												</a>
											</div>
										</div>
										</a>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<!-- single product slide -->
					<div class="single-product-slider">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-6 text-center">
									<div class="section-title">
										<h1>Grossistes</h1>
									</div>
								</div>
							</div>
							<div class="row">
								{% for grossiste in grossistes_pub %}
								<div class="col-lg-4 col-md-6">
									<div class="single-product">
										<a href="accounts/grossiste/{{grossiste.name}}/a">
										<img class="img-fluid" src="/media/{{grossiste.avatar}}"  alt="">
										<div class="product-details">
											<h6 >{{grossiste.name}}</h6>
											<h6 style="font-size: .8em; font-weight: normal; ">{{grossiste.description }}</h6>
											
											<div class="prd-bottom">
												<!--a href="accounts/grossiste/{{grossiste.name}}/a"  class="social-info">
													<span class=""><i class="fa fa-home"></i></span>
													<p class="hover-text">Page</p>
												</a-->
												<a href="https://api.whatsapp.com/send?phone={{grossiste.phone1}}"  class="social-info">
													<span class=""><i class="fa fa-whatsapp"></i></span>
													<p class="hover-text">whatsapp</p>
												</a>
												<a href="{{grossiste.facebook_link}}"  class="social-info">
													<span class=""><i class="fa fa-facebook"></i></span>
													<p class="hover-text">facebook</p>
												</a>
												<a href="{{grossiste.instagram_link}}"  class="social-info">
													<span class=""><i class="fa fa-instagram"></i></span>
													<p class="hover-text">Instagram</p>
												</a>
											</div>
										</div>
										</a>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="single-product-slider">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-6 text-center">
									<div class="section-title">
										<h1>Revendeurs</h1>
									</div>
								</div>
							</div>
							<div class="row">
								{% for revendeur in revendeurs_pub %}
								<div class="col-lg-4 col-md-6">
									<div class="single-product">
										<a href="accounts/revendeur/{{revendeur.name}}/a">
										<img class="img-fluid" src="/media/{{revendeur.avatar}}"  alt="">
										<div class="product-details">
											<h6 >{{revendeur.name}}</h6>
											<h6 style="font-size: .8em; font-weight: normal; ">{{revendeur.description }}</h6>
										
											<div class="prd-bottom">
												<!--a href="accounts/revendeur/{{revendeur.name}}/a"  class="social-info">
													<span class=""><i class="fa fa-home"></i></span>
													<p class="hover-text">Page</p>
												</a-->
												<a href="https://api.whatsapp.com/send?phone={{revendeur.phone1}}"  class="social-info">
													<span class=""><i class="fa fa-whatsapp"></i></span>
													<p class="hover-text">whatsapp</p>
												</a>
												<a href="{{revendeur.facebook_link}}"  class="social-info">
													<span class=""><i class="fa fa-facebook"></i></span>
													<p class="hover-text">facebook</p>
												</a>
												<a href="{{revendeur.instagram_link}}"  class="social-info">
													<span class=""><i class="fa fa-instagram"></i></span>
													<p class="hover-text">Instagram</p>
												</a>
											</div>
										</div>
										</a>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</section>
				<section id="grossistes" class="lattest-product-area pb-40 category-list  ">
					<div class="row">
						<!-- single product -->
						{% for grossiste in grossistes %}
						<div class="col-lg-4 col-md-6 element">
							<div class="single-product">
								<a href="accounts/grossiste/{{grossiste.name}}/a">
								<img class="img-fluid" src="/media/{{grossiste.avatar}}"  alt="">
								<div class="product-details">
									<h6 >{{grossiste.name}}</h6>
									<h6 style="font-size: .8em; font-weight: normal; ">{{grossiste.description }}</h6>
									
									<div class="prd-bottom">
										<!--a href="accounts/grossiste/{{grossiste.name}}/a"  class="social-info">
											<span class=""><i class="fa fa-home"></i></span>
											<p class="hover-text">Page</p>
										</a-->
										<a href="https://api.whatsapp.com/send?phone={{grossiste.phone1}}"  class="social-info">
											<span class=""><i class="fa fa-whatsapp"></i></span>
											<p class="hover-text">whatsapp</p>
										</a>
										<a href="{{grossiste.facebook_link}}"  class="social-info">
											<span class=""><i class="fa fa-facebook"></i></span>
											<p class="hover-text">facebook</p>
										</a>
										<a href="{{grossiste.instagram_link}}"  class="social-info">
											<span class=""><i class="fa fa-instagram"></i></span>
											<p class="hover-text">Instagram</p>
										</a>
									</div>
								</div>
								</a>
							</div>
						</div>
						{% endfor %}
						<!-- single product -->
					</div>
				</section>
				<section id="revendeurs" class="lattest-product-area pb-40 category-list  ">
					<div class="row">
						<!-- single product -->
						{% for revendeur in revendeurs %}
						<div class="col-lg-4 col-md-6 element">
							<div class="single-product">
								<a href="accounts/grossiste/{{revendeur.name}}">
								<img class="img-fluid" src="/media/{{revendeur.avatar}}"  alt="">
								<div class="product-details">
									<h6 >{{revendeur.name}}</h6>
									<h6 style="font-size: .8em; font-weight: normal; ">{{revendeur.description }}</h6>
									
									<div class="prd-bottom">
										<!--a href="accounts/grossiste/{{revendeur.name}}"  class="social-info">
											<span class=""><i class="fa fa-home"></i></span>
											<p class="hover-text">Page</p>
										</a-->
										<a href="https://api.whatsapp.com/send?phone={{revendeur.phone1}}"  class="social-info">
											<span class=""><i class="fa fa-whatsapp"></i></span>
											<p class="hover-text">whatsapp</p>
										</a>
										<a href="{{revendeur.facebook_link}}"  class="social-info">
											<span class=""><i class="fa fa-facebook"></i></span>
											<p class="hover-text">facebook</p>
										</a>
										<a href="{{revendeur.instagram_link}}"  class="social-info">
											<span class=""><i class="fa fa-instagram"></i></span>
											<p class="hover-text">Instagram</p>
										</a>
									</div>
								</div>
								</a>
							</div>
						</div>
						{% endfor %}
						<!-- single product -->
					</div>
				</section>
				<section id="articles" class="lattest-product-area pb-40 category-list ">
					<div class="row">
						<!-- single product -->
						{% for article in articles %}
						<div class="col-lg-4 col-md-6 element">
									<div class="single-product">
										<a href="/article/{{article.pk}}/a">
										<img class="img-fluid" src="/media/{{article.image}}"  alt="">
										<div class="product-details">
											<h6 >{{article.name}}</h6>
											<h6 style="font-size: .8em; font-weight: normal; ">Prix: {{article.stock_price }} FCFA/stock de {{article.stock_size }}</h6>
											<h6 style="font-size: .8em; font-weight: normal; ">stock disponible: {{article.stock }}</h6>
											<h6 style="font-size: .7em; font-weight: normal; ">{{article.description }}</h6>
											
											<div class="prd-bottom">
												<!--a href="/article/{{article.pk}}/a"  class="social-info">
													<span class="lnr lnr-move"></span>
													<p class="hover-text">Détails</p>
												</a-->
												<a href="https://api.whatsapp.com/send?phone={{article.grossiste.phone1}}"  class="social-info">
													<span class=""><i class="fa fa-whatsapp"></i></span>
													<p class="hover-text">whatsapp grossite</p>
												</a>
												<a href="{{article.grossiste.facebook_link}}"  class="social-info">
													<span class=""><i class="fa fa-facebook"></i></span>
													<p class="hover-text">facebook grossite</p>
												</a>
												<a href="{{article.grossiste.instagram_link}}"  class="social-info">
													<span class=""><i class="fa fa-instagram"></i></span>
													<p class="hover-text">Instagram grossite</p>
												</a>
											</div>
										</div>
										</a>
									</div>
								</div>
						{% endfor %}
						<!-- single product -->
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<!--div class="filter-bar d-flex flex-wrap align-items-end" style="margin-bottom: 70px">
					<div class="sorting mr-auto">
						<div class="pagination">
							<a href="{% static '#' %}"  class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						</div>
					</div>

					<div class="pagination">
						<a href="{% static '#' %}"  class="active" style="width: 100px">Voir plus</a>
						<a href="{% static '#' %}"  class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div-->
			</div>
		</div>
	</div>

	<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}" ></script>
	<script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js' %}"  integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{% static 'js/vendor/bootstrap.min.js' %}" ></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}" ></script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}" ></script>
	<script src="{% static 'js/jquery.sticky.js' %}" ></script>
	<script src="{% static 'js/nouislider.min.js' %}" ></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}" ></script>
	<script src="{% static 'js/owl.carousel.min.js' %}" ></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE" ></script>
	<script src="{% static 'js/gmaps.min.js' %}" ></script>
	<script src="{% static 'js/main.js' %}" ></script>


	
	<!--script type="text/javascript">
		
			function getInfo(email){

		                request = $.ajax({
					        url: "/info/"+email ,
			                method: "get",
			            }).done(function(response) {
			                console.log('done: '+response);
			                if (response.result.type != 'grossiste'){
			                	window.location.href = '/accounts/'+response.result.type+'/'+response.result.name+'/'+response.result.token;
				                //$('#userAccount').html('<i class="fa fa-user"></i> '+ response.result.name )
				                /*$('#confirmLoginButton').attr('href', 'accounts/'+response.result.type+'/'+response.result.name ).removeClass('invisible')
				                $('.g-signin2').addClass('invisible')*/
			                }else (){
			                	reg( response.result.pk , email)
			                }
			                
			            }).fail(function(xhr, status, error) {
			            	
			            });
			}
			
	</script-->
	<script type="text/javascript">
		function onSignIn(googleUser) {
		  var profile = googleUser.getBasicProfile();
		  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
		  console.log('Name: ' + profile.getName());
		  console.log('Image URL: ' + profile.getImageUrl());
		  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
		  //login(profile.getEmail())
		}

	</script>
	<script>

	  function signOut() {
	    var auth2 = gapi.auth2.getAuthInstance();
	    auth2.signOut().then(function () {
	      console.log('User signed out.');
	    });
	  }
	</script>
{% endblock %}
	
